@{
    ViewData["Title"] = "Menú iniciador";
}

    <h3>@ViewBag.dir</h3>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Fondeadoras</h5>
                    <a href="#" class="card-link">Ver</a>
                    <a href="#" class="card-link">Crear</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <a href="#" class="card-link">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Préstamos</h5>
                    <a href="#" class="card-link">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Carteras</h5>
                    <a href="#" class="card-link">Ver</a>
                    <a href="#" class="card-link">Crear</a>
                </div>
            </div>
        </div>
    </div>

@section Scripts{

    <script>
        $(document).ready(async () => {

            var url = new URL("http://localhost:60472/Clientes/GetUserWithDetails");

            url.searchParams.set("ID", 2)

            var res2 = await fetch(url.toString()).then(x=>x.json());

            console.log(url.toString());

            console.log(res2);
        });
    </script>

}




