@{
    ViewData["Title"] = "Menú iniciador";
}


<h3>@ViewBag.dir</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Fondeadoras</h5>
                    <a href="/Fondeadores/Todos" class="card-link">Ver</a>
                    <a href="/Fondeadores/Nuevo" class="card-link">Crear</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Carteras</h5>
                    <a href="/Carteras/Todas" class="card-link">Ver</a>
                    <a href="/Carteras/Nueva" class="card-link">Crear</a>
                </div>
            </div>
        </div>
    </div>
</div>





