
@{
    ViewData["Title"] = "Carteras creadas";
}


    <div id="app">
        <input type="hidden" id="endpoint" name="endpoint" value="@ViewBag.endpoint" />
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h4>Carteras creadas:</h4>
                    <a href="/Carteras/Nueva">
                        <button class="btn btn-primary">Crear Cartera</button>
                    </a>
                    <br />
                </div>
                <div class="col-md-10">
                    <h3 v-if="carteras.length == 0">Cargando datos...</h3>
                    <div v-for="cartera in carteras">
                        <div class="card">
                            <div class="card-header">
                                {{cartera.fondeador.nombre}} - {{fecha(cartera.creado)}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">Última modificación: {{fecha(cartera.modificado)}}</p>
                                <a href="#" class="btn btn-success" disabled>Descargar formatos</a>
                            </div>
                        </div>
                        <br />
                    </div>

                </div>
            </div>
        </div>

    </div>

@section Scripts{

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                carteras: [],
                api: ""
            },
            methods: {
                formatMoney: function (num) {
                    return (num.toFixed(2) // always two decimal digits
                        .replace('.', ',') // replace decimal point character with ,
                        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
                    )
                },
                fecha: function (date) {
                    return moment(date).format("DD/MM/YYYY, h:mm:ss a")
                },
                sumatoria: function (prestamos) {
                    let sum = 0;
                    for (var i = 0; i < prestamos.length; i++)
                        sum = parseFloat(sum) + parseFloat(prestamos[i].nPrestamo);
                    return this.formatMoney(sum);
                }
            },
            computed: {
            },
            async mounted() {
                this.api = $("#endpoint").val();
                this.carteras = (await fetch(this.api + "Carteras/All").then(x => x.json())).reverse();
            }
        });

    </script>

}