@{
    ViewData["Title"] = "Nueva recompra";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div id="app">
        <input type="hidden" id="endpoint" name="endpoint" value="@ViewBag.endpoint" />

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <p><b>Fondeador:</b></p>
                    <div class="form-check" v-for="(fondeador, index) in fondeadores">
                        <input class="form-check-input" type="radio" :id="'fondeador'+index" :value="fondeador.fondeadorID" @@change="Filtrar" v-model="f">
                        <label class="form-check-label" :for="'fondeador'+index">
                            {{fondeador.nombre}}
                        </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <p><b>Producto:</b></p>
                    <div class="form-check" v-for="(producto,index) in productos">
                        <input class="form-check-input" type="radio" :id="'producto'+index" :value="producto.nValor" @@change="Filtrar" v-model="p">
                        <label class="form-check-label" :for="'producto'+index">
                            {{producto.cNomCod}}
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="desde"><b>Búsqueda:</b></label>
                    <textarea class="form-control" style="height:38px" v-model="query">{{query}}</textarea>
                    <button type="button" style="margin-top:5px" class="btn btn-success btn-sm" @@click="Buscar">Buscar</button>
                </div>
                <div class="col-md-3">
                    <label for="desde"><b>Fecha cálculo:</b></label>
                    <input type="date" class="form-control" id="fechaCalculo" v-model="fechaCalculo" @@change="CalcularSeleccionados" />
                </div>
                <div class="col-md-2">
                    <button style="margin-top:8px;margin-top: 32px;width:100%" class="btn btn-success" @@click="Guardar">Guardar</button>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top:10px;">
                <div class="col-md-6">

                    <div v-if="loaderCreditos"
                         style="border:dashed 3px gray; height:350px;width:100%; display:flex; flex-direction:row; justify-content:center; align-items:center">
                        <p>
                            <img src="~/img/loader.gif" height="40" width="40" alt="Loader image" />
                            <b>Cargando cuotas por crédito... </b>
                        </p>
                    </div>


                    <div v-if="!loaderCreditos">
                        <p v-if="encontrados.length != 0">Resultado de búsqueda. <a href="#" @@click="encontrados = []">Limpiar búsqueda</a></p>
                        <table v-if="encontrados.length != 0" style="font-size:10pt;" class="table table-sm table-hover table-bordered table-success">
                            <thead>
                                <tr>
                                    <th scope="col">Check</th>
                                    <th scope="col">CodigoFondeador</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Es Repro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="credito in encontrados" style="cursor:pointer;" @@click="verCalculos($event, credito)">
                                    <th scope="row">
                                        <input type="checkbox"
                                               :value="credito.codigoFondeador"
                                               v-model="checkedCreditos"
                                               @@change="">
                                    </th>
                                    <th>{{credito.codigoFondeador}}</th>
                                    <th>{{credito.id || ''}}</th>
                                    <th>{{credito.nombres || ''}}</th>
                                    <th>{{credito.esReprogramado ? 'Sí' : 'No'}}</th>
                                </tr>
                            </tbody>
                        </table>

                        <p>{{creditosFiltrados.length}} registros</p>
                        <div style="max-height:350px;overflow-y:auto">
                            <table id="tablaCreditos" style="font-size:10pt;" class="table table-sm table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Check</th>
                                        <th scope="col">CodigoFondeador</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Es Repro</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="credito in creditosFiltrados" style="cursor:pointer;" @@click="verCalculos($event, credito)">
                                        <th scope="row">
                                            <input type="checkbox"
                                                   :value="credito.codigoFondeador"
                                                   v-model="checkedCreditos"
                                                   @@change="CalcularSeleccionados">
                                        </th>
                                        <th>{{credito.codigoFondeador}}</th>
                                        <th>{{credito.id || ''}}</th>
                                        <th>{{credito.nombres || ''}}</th>
                                        <th>{{credito.esReprogramado ? 'Sí' : 'No'}}</th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div v-if="credito != ''">
                        <h5>Cálculos:</h5>
                        <table id="tablaCreditos" style="font-size:10pt;width:100%" class="table table-sm table-hover table-bordered">

                            <tr>
                                <th scope="row">Cuotas Vencidas y vigente No Pagadas</th>
                                <td>{{formatMoney(credito.cuotasVencidasVigenteSinPagar) || 0}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Cuotas Por Vencer No Pagadas (Saldo capital)</th>
                                <td>{{formatMoney(credito.capitalPorVencerSinPagar) || 0}}</td>
                            </tr>
                            <tr v-if="credito.esReprogramado">
                                <th scope="row">Último Pago</th>
                                <td>{{fecha(credito.fechaUltimoPago) || 0}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Fecha cálculo</th>
                                <td>{{fecha(fechaCalculo)}}</td>
                            </tr>
                            <tr v-if="credito.esReprogramado">
                                <th scope="row">Días de diferencia</th>
                                <td>{{credito.DiferenciaDias}}</td>
                            </tr>
                            <tr v-if="credito.esReprogramado">
                                <th scope="row">Tasa</th>
                                <td>{{formatMoney(credito.nTasaComp) || 0}}</td>
                            </tr>
                            <tr v-if="credito.esReprogramado">
                                <th scope="row">Factor</th>
                                <td>{{credito.Factor}}</td>
                            </tr>
                            <tr v-if="credito.esReprogramado">
                                <th scope="row">Interés</th>
                                <td>{{formatMoney(credito.Interes.toFixed(2))}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Precio de Recompra</th>
                                <td><b>{{formatMoney(credito.precioRecompra.toFixed(2))}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{mensaje}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        @section Scripts{

            <script>
                var vm = new Vue({
                    el: '#app',
                    data: {
                        creditos: [],
                        recompraID: @ViewBag.editar,
                        loaderCreditos: false,
                        f: 1,
                        p: 2,
                        fondeadores: [],
                        productos: [],
                        checkedCreditos: [],
                        creditosFiltrados: [],
                        credito: "",
                        query: "",
                        encontrados: [],
                        fechaCalculo: moment().format("YYYY-MM-DD"),
                        mensaje:""
                    },
                    methods: {
                        CalcularSeleccionados: function () {
                            vm.creditos.filter(x => vm.checkedCreditos.includes(x.codigoFondeador)).forEach(credito => {
                                let obj = this.creditos.find(x => x.codigoFondeador == credito.codigoFondeador);

                                if (obj.esReprogramado) {
                                    obj.DiferenciaDias = this.DiferenciaDias(obj.fechaUltimoPago, this.fechaCalculo);
                                    obj.Factor = Math.pow(1 + parseFloat(obj.nTasaComp) / 100, parseFloat(obj.DiferenciaDias) / parseFloat(360)) - 1;
                                    obj.Interes = (Math.pow(1 + parseFloat(obj.nTasaComp) / 100, parseFloat(obj.DiferenciaDias) / parseFloat(360)) - 1) * parseFloat(obj.capitalPorVencerSinPagar);
                                    obj.precioRecompra = parseFloat(obj.cuotasVencidasVigenteSinPagar) + parseFloat(obj.capitalPorVencerSinPagar) + parseFloat(obj.Interes);
                                }
                                else {
                                    obj.precioRecompra = parseFloat(obj.cuotasVencidasVigenteSinPagar) + parseFloat(obj.capitalPorVencerSinPagar);
                                }

                            });

                            if (this.credito != "") {
                                this.Calcular(this.credito);
                            }
                        },
                        Calcular: function (credito) {
                            if (credito.esReprogramado) {
                                credito.DiferenciaDias = this.DiferenciaDias(credito.fechaUltimoPago, this.fechaCalculo);
                                credito.Factor = Math.pow(1 + parseFloat(credito.nTasaComp) / 100, parseFloat(credito.DiferenciaDias) / parseFloat(360)) - 1;
                                credito.Interes = (Math.pow(1 + parseFloat(credito.nTasaComp) / 100, parseFloat(credito.DiferenciaDias) / parseFloat(360)) - 1) * parseFloat(credito.capitalPorVencerSinPagar)
                                credito.precioRecompra = parseFloat(credito.cuotasVencidasVigenteSinPagar) + parseFloat(credito.capitalPorVencerSinPagar) + parseFloat(credito.Interes);
                            } else {
                                credito.precioRecompra = parseFloat(credito.cuotasVencidasVigenteSinPagar) + parseFloat(credito.capitalPorVencerSinPagar);
                            }
                        },
                        formatMoney: function (num) {
                            return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        },
                        fecha: function (date) {
                            return moment(date).format("DD/MM/YYYY")
                        },
                        Estado: function (estado) {
                            switch (estado) {
                                case 1:
                                    return "Registrado";
                                case 2:
                                    return "Vigente";
                                case 3:
                                    return "Vencido";
                                case 4:
                                    return "Pagado";
                                case 6:
                                    return "Desistido";
                                case 16:
                                    return "Prejudicial";
                            }
                        },
                        NEstadoCuota: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 1:
                                    return "Vigente";
                                case 2:
                                    return "Vencido";
                                case 3:
                                    return "Por Vencer";
                            }
                        },
                        NEstado: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 0:
                                    return "Sin Pagar";
                                case 2:
                                    return "Pagada";
                            }
                        },
                        Moneda: function (moneda) {
                            switch (moneda) {
                                case 1:
                                    return "S/";
                                case 2:
                                    return "USD";
                            }
                        },
                        Filtrar: function () {
                            this.creditosFiltrados = this.creditos.filter(x => x.nSubProd == vm.p && x.fondeador == vm.f);
                        },
                        verCalculos: function (evento, credito) {
                            this.Calcular(credito);
                            this.credito = credito;
                        },
                        Buscar: function () {
                            this.query.split("\n").forEach(query => {
                                var search = new RegExp(query.trim().toUpperCase(), 'i');
                                var res = this.creditosFiltrados.find(x => search.test(x.codigoFondeador) || search.test(x.nombres) || search.test(x.id) || search.test(x.nCodCred.toString()));

                                if (res != undefined) {
                                    if(!this.encontrados.map(x=>x.codigoFondeador).includes(res.codigoFondeador))
                                        this.encontrados.push(res);
                                }
                            });
                            if (this.encontrados.length == 0) {
                                this.mensaje = "No se hallaron resultados";
                                $("#modalMensaje").modal("show");
                            }

                        },
                        DiferenciaDias: function (desde, hasta) {
                            let fecha1 = moment(desde)
                            let fecha2 = moment(hasta)
                            return fecha2.diff(fecha1, 'days');
                        },
                        Guardar: async function () {
                            let linea = vm.creditos
                                .filter(x => vm.checkedCreditos.includes(x.codigoFondeador))
                                .map(e => [e.codigoFondeador, e.precioRecompra.toFixed(2)].join(","))
                                .join(";");

                            var formData = new FormData();
                            formData.append('RecompraID', 0);
                            formData.append('FondeadorID', vm.f);
                            formData.append('ProductoID', vm.p);
                            formData.append('Creditos', linea);
                            formData.append('CreadoPor', JSON.parse(localStorage.getItem("usuario")).nombre);
                            formData.append('FechaCalculo', this.fechaCalculo);

                            let res = await fetch(this.api + "Recompras/Save", {
                                method: 'POST',
                                body: formData
                            }).then(response => response.json());

                            window.location.href = '@(ViewBag.domain+"Recompras")';
                        }
                    },
                    computed: {
                        sumatoria: function () {
                            let sum = 0;
                            for (var i = 0; i < this.seleccionados.length; i++)
                                sum = parseFloat(sum) + parseFloat(this.seleccionados[i].precio);
                            return this.formatMoney(sum);
                        },
                        busquedaItems: function () {
                            return this.busqueda.split("\n").map(x => x.trim());
                        }
                    },
                    async mounted() {
                        this.api = $("#endpoint").val();

                        //$("#fechaCalculo").val(moment().format("YYYY-MM-DD"))

                        this.productos = await fetch(this.api + "Producto/All").then(x => x.json());
                        this.fondeadores = await fetch(this.api + "Fondeador/All").then(x => x.json());

                        let desde = $("#desde").val();
                        let hasta = $("#hasta").val();

                        var formData = new FormData();
                        formData.append('desde', (new Date()).toISOString());
                        formData.append('hasta', (new Date()).toISOString());

                        this.loaderCreditos = true;
                        let creditosRes = await fetch(this.api + "Creditos/CreditosFondeador", {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json());


                        this.creditos = creditosRes.filter(x => x.id != null && x.id != '');;
                        this.Filtrar();

                        this.loaderCreditos = false;
                    }
                });

            </script>

        }
