@{
    ViewData["Title"] = "Análisis";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

    <div id="app">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h5><b>Análisis</b></h5>
                    <table class="table table-primary table-sm table-bordered table-hover" id="tableBusqueda">
                        <thead>
                            <tr>
                                <th>Nro.</th>
                                <th>Moneda</th>
                                <th>Capital</th>
                                <th>Precio</th>
                                <th>Cuotas</th>
                                <th>Vcto.</th>
                                <th>Producto</th>
                                <th>ID</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody id="main">
                            <tr :id="credito.nCodCred">
                                <td>{{credito.nCodCred}}</td>
                                <td>{{Moneda(credito.nMoneda)}}</td>
                                <td>{{formatMoney(credito.nPrestamo)}}</td>
                                <td>{{credito.precio}}</td>
                                <td>{{credito.nNroCuotas}}</td>
                                <td>{{fecha(credito.dFecVcto)}}</td>
                                <td>{{credito.producto.cNomCod}}</td>
                                <td>{{credito.dni != null ? 'DNI' : 'RUC'}} {{credito.dni != null ? credito.dni : credito.ruc}}</td>
                                <td>{{credito.dni != null ? credito.nombres : credito.razonSocial}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" v-if="screen == 'detalle'">
                    <h5><b>Cronogramas Palante</b></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label># cronograma:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="margin-bottom:10px" class="form-control" v-model="cronogramaPalanteSeleccionado">
                                <option v-for="n in detalle.cronogramaPalante.length" :value="n">{{n}}</option>
                            </select>
                        </div>
                    </div>
                    <div style="overflow-y:auto;max-height:300px;">
                        <table class="table table-bordered table-sm table-hover">
                            <tr>
                                <th>#</th>
                                <th>Fec. Vcto.</th>
                                <th>Capital</th>
                                <th>Interes</th>
                                <th>P. Gracia</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Pagada</th>
                            </tr>
                            <tr v-for="cuota in credito.cronogramaPalante[cronogramaPalanteSeleccionado - 1].cuotas">
                                <td>{{cuota.NumeroCuota}}</td>
                                <td>{{fecha(cuota.FechaPago)}}</td>
                                <td>{{cuota.amortizacion}}</td>
                                <td>{{cuota.interes}}</td>
                                <td>{{cuota.periodoGracia}}</td>
                                <td>{{cuota.totalCuota}}</td>
                                <td :class="{ 'table-primary' : cuota.nEstadoCuota ==  1 , 'table-secondary' : cuota.nEstadoCuota ==  3  }">
                                    {{NEstadoCuota(cuota.nEstadoCuota)}}
                                </td>
                                <td :class="{ 'table-danger' : cuota.nEstado ==  0 , 'table-success' : cuota.nEstado ==  2  }">
                                    {{NEstado(cuota.nEstado)}}
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="col-md-6" v-if="screen == 'detalle'">
                    <h5><b>Cronogramas Fondeador</b></h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label># cronograma:</label>
                        </div>
                        <div class="col-md-6">
                            <select style="margin-bottom:10px" class="form-control" v-model="cronogramaPalanteSeleccionado">
                                <option v-for="n in detalle.cronogramaPalante.length" :value="n">{{n}}</option>
                            </select>
                        </div>
                    </div>

                    <div style="overflow-y:auto;max-height:300px;">
                        <table class="table table-bordered table-sm table-hover">
                            <tr>
                                <th>#</th>
                                <th>Fec. Vcto.</th>
                                <th>Capital</th>
                                <th>Interes</th>
                                <th>P. Gracia</th>
                                <th>Total</th>
                                <th>Estado</th>
                                <th>Pagada  </th>
                            </tr>
                            <tr v-for="cuota in credito.cronogramaPalante[cronogramaFondeadorSeleccionado - 1].cuotas">
                                <td>{{cuota.NumeroCuota}}</td>
                                <td>{{fecha(cuota.FechaPago)}}</td>
                                <td>{{cuota.amortizacion}}</td>
                                <td>{{cuota.interes}}</td>
                                <td>{{cuota.periodoGracia}}</td>
                                <td>{{cuota.totalCuota}}</td>
                                <td :class="{ 'table-primary' : cuota.nEstadoCuota ==  1 , 'table-secondary' : cuota.nEstadoCuota ==  3  }">
                                    {{NEstadoCuota(cuota.nEstadoCuota)}}
                                </td>
                                <td :class="{ 'table-danger' : cuota.nEstado ==  0 , 'table-success' : cuota.nEstado ==  2  }">
                                    {{NEstado(cuota.nEstado)}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @section Scripts{

                <script>
                var vm = new Vue({
                    el: '#app',
                    data: {
                        credito: "",
                        codigo: "",
                        api: ""
                    },
                    methods: {
                        NEstadoCuota: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 1:
                                    return "Vigente";
                                case 2:
                                    return "Vencido";
                                case 3:
                                    return "Por Vencer";
                            }
                        },
                        formatMoney: function (num) {
                            return num;//num.toFixed(2)
                        },
                        Moneda: function (moneda) {
                            switch (moneda) {
                                case 1:
                                    return "S/";
                                case 2:
                                    return "USD";
                            }
                        },
                        NEstado: function (estadoCuota) {
                            switch (estadoCuota) {
                                case 0:
                                    return "Sin Pagar";
                                case 2:
                                    return "Pagada";
                            }
                        },
                        fecha: function (date) {
                            return moment(date).format("DD/MM/YYYY")
                        }
                    },

                    async mounted() {
                        this.api = '@ViewBag.endpoint';
                        this.codigo = '@ViewBag.credito';
                        this.credito = await fetch(this.api + "Pagos/FindDeuda?nCodCred=" + this.codigo).then(x => x.json());
                        this.credito.cronogramaPalante = await fetch(this.api + "Cronogramas/CronogramasPalante?nCodCred=" + this.codigo).then(x => x.json());
                        this.credito.cronogramaFondeador = await fetch(this.api + "Cronogramas/CronogramasFondeador?nCodCred=" + this.codigo).then(x => x.json());
                    }
                });

                </script>

        }
